name: ci

on:
  push:

jobs:
  lint_test_build:
    name: Lint, Test & Dev Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: twh2898/reusable-workflows/setup_python@main
        with:
          python-version: "3.12"
          poetry-version: "1.8.5"

      - name: Install Dependencies
        run: poetry install

      - name: Lint
        run: poetry run ruff check .

      - name: Lint
        run: poetry run pytest tests --cov=src --cov-branch --cov-fail-under=100

  build_release:
    name: Build Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, 'NO RELEASE')

    needs: lint_test_build

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Increment Version
        uses: twh2898/reusable-workflows/increment_version@main
        id: version

      - name: Setup Python
        uses: twh2898/reusable-workflows/setup_python@main
        with:
          python-version: "3.12"
          poetry-version: "1.8.5"

      - name: Install Dependencies
        run: poetry install

      - name: Publish Package
        env:
          VERSION: ${{ steps.version.outputs.version }}
          PYPI_TOKEN: ${{ secrets.PYPI_KEY }}
        run: |
          poetry version $VERSION
          poetry config pypi-token.pypi $PYPI_TOKEN
          poetry publish
